extends layout

block content
  h1= title

  div(class="grid")
    each row, idx in grid.rows
      div(id=idx, class="grid_row")
        each square in row
          - var square_class = square.black ? "grid_square black" : "grid_square"
          span(class=square_class)
            span(class="number")= 89
            span(class="letter")= square.correct_letter

  div(class="clues")
    div(class="across")
      h2= "Across"
      ul
        each row, idx in grid.rows
          li hello

    div(class="down")
      h2= "Down"
      ul
        each row, idx in grid.rows
          li hello
